<% layout('layouts/boilerplate')%>    
    <!-- Main -->

  <div class="d-flex justify-content-center align-items-center">
    
      <div class="mt-5">
        <div class="mt-5"></div>
        <h1>Welcome To Bionet</h1>
        
      </div>
      <script src=".../public/javascript/blah.js"></script>

 