<% layout('layouts/boilerplate')%>    
    <!-- Main -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=], initial-scale=1.0">
  <title>Bionet</title>
 </head>
 <body class="main">
  <div class="d-flex justify-content-center align-items-center">
    
      <div class="mt-5">
        <div class="mt-5"></div>
        <h1>Welcome To Bionet</h1>
        <h2 class="text-center">Please Login</h2>
      </div>
    
    
  </div>  
  
 </body>
 </html>   
 